<h1>Seja bem-vindo!</h1>
<h3>Fernando Gouveia</h3>

<p> A soma é: <%= 1 + 1 %> </p>
<p> Seu nome de trás pra frente é: <%= "Fernando".reverse %> </p>
<% ax = "minha variavel a" %>
<P>Imprimindo a variavel a: <%= ax %></P>
<p>A data de hoje é: <%= Date.today %></p>

<ul>
    <li>
        <a href="/coins">Cadastro de Moedas</a>
    </li>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>

<p> Eu sou <%= @nome %> </p>
<p> Meu curso é <%= @curso %> </p>